set linenumbers
set tabsize 2
set tabstospaces
unset mouse
set titlecolor white,brightblack
set keycolor white,brightblack
set functioncolor white
set numbercolor white,brightblack
set errorcolor black,red
set stripecolor black,brightwhite
set statuscolor black,brightwhite
include ~/.nano/*.nanorc

bind ^D "{copy}{paste}{up}{end}" main
bind Sh-M-k "{cut}{up}{paste}{up}" main
bind Sh-M-j "{cut}{down}{paste}{up}" main
